@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .textShadow {
        text-shadow: 0px 0px 20px #000;
    }

    .rotateAfter {
        animation: rotateAfter 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .rotateBefore {
        animation: rotateBefore 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    @media only screen and (min-width: 1024px) {
        #search {
            width: 30%;
        }

        .inputSearchBtn {
            width: 3.9%;
            padding-top: 0.7%;
            padding-bottom: 0.6%;
        }
    }
}

@keyframes rotateAfter{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
@keyframes rotateBefore{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}